<article class="container">
    <div class="custom-alert" ng-show="showError">
        <a class="close" ng-click="hideError()">&times;</a>
        <strong>{{errorMessage}}</strong>
    </div>


    <div>
        <h2 class="title">
            {{article.title}}
        </h2>

        <h4>av {{article.author}}</h4>

        <p class="content">
            {{article.content}}
        </p>
    </div>
    <div>
        <div class="well">
            <button class="btn btn-default" ng-click="deleteArticle(article)">Slett artikkel</button>
            <button class="btn btn-default" ng-click="toggleShowArticleEdit()">Editer artikkel</button>
        </div>

        <div class="well" ng-show="showArticleEdit">
            <form class="bs-example form-horizontal">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Forfatter" ng-model="article.author">
                    <input type="text" class="form-control" placeholder="Tittel" ng-model="article.title">
                    <textarea class="form-control" rows="4" placeholder="Innhold" ng-model="article.content"/>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="updateArticle(article)">Oppdater</button>
            </form>
        </div>
    </div>

    <div class="comments">
        <h3 class="page-header">Kommentarer</h3>

        <div ng-repeat="comment in comments">
            <blockquote>
                <p>
                    {{comment.content}}
                </p>
                <small>{{comment.author}}</small>
            </blockquote>
        </div>

        <div class="well">
            <div>
                <button class="btn btn-default" ng-click="deleteAllComments(article)">Slett alle kommentarer</button>
            </div>
        </div>
        <div class="well">
            <form class="bs-example form-horizontal">
                <legend>Ny kommentar</legend>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Forfatter" ng-model="comment.author">
                    <textarea class="form-control" rows="3" placeholder="Innhold" ng-model="comment.content"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="addComment(article, comment)">Legg til
                        kommentar
                    </button>
                </div>
            </form>
        </div>
    </div>
</article>
