
<article>
    <div class="alert alert-dismissable alert-warning" ng-show="showError">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{{errorMessage}}</strong>
    </div>

    <div ng-repeat="article in articles">
        <h2>
            <a href="#/article/{{article._id}}" class="linkColor">{{article.title}}</a>
        </h2>
        <h4>Skrevet av {{article.author}}</h4>
    </div>

    <div class="well">
        <form class="bs-example form-horizontal">
            <fieldset>
                <legend>Ny artikkel</legend>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Forfatter" ng-model="article.author">
                    <input type="text" class="form-control" placeholder="Tittel" ng-model="article.title">
                    <textarea class="form-control" rows="4" placeholder="Innhold" ng-model="article.content"/>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="submitArticle(article)">Legg til artikkel</button>
            </fieldset>
        </form>
    </div>
</article>
